[DEFAULT]
string   subjects               =  subjects/are-we-there-yet/
string   instrumented_subjects  =  instrumented-subjects/
bool     randomize_subjects     =  False
int      limit_subjects_number  =  1
int      repetitions            =  1
int      time_budget            =  900
string   evaluations_budget     =  None
int      real_devices_number    =  0
int      emulators_number       =  2
string   avd_series             =  Nexus_4_API_19
bool     write_logbook          =  True
bool     write_history          =  True
bool     write_hall_of_fame     =  True
string   strategy               =  muPlusLambda
string   evaluator              =  multi-objective
string   individual_generator   =  default
string   test_runner            =  motifcore