astroid==2.3.0
backcall==0.1.0
beautifulsoup4==4.6.3
bs4==0.0.1
Click==7.0
configparser==3.5.0
cycler==0.10.0
deap==1.2.2
decorator==4.3.0
ipython==6.5.0
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.12.1
kiwisolver==1.0.1
lazy-object-proxy==1.4.2
logger==1.4
lxml==4.6.5
matplotlib==3.1.1
mccabe==0.6.1
MonkeyType==19.5.0
mypy==0.720
mypy-extensions==0.4.1
networkx==2.1
numpy==1.15.1
parso==0.3.1
pathspec==0.5.9
pexpect==4.6.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
psutil==5.4.7
ptyprocess==0.6.0
pycodestyle==2.5.0
Pygments==2.2.0
pylint==2.4.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
retype==19.9.0
simplegeneric==0.8.1
simplejson==3.16.0
six==1.11.0
soupsieve==1.9.2
traitlets==4.3.2
typed-ast==1.4.0
typing-extensions==3.7.4
wcwidth==0.1.7
wrapt==1.11.2
