acme==0.29.1
aiohttp==3.4.4
alabaster==0.7.11
androguard==3.2.1
appdirs==1.4.3
asn1crypto==0.24.0
astroid==2.1.0
async-timeout==3.0.1
attrs==18.2.0
awscli==1.16.79
Babel==2.6.0
backcall==0.1.0
beautifulsoup4==4.6.3
botocore==1.12.69
Brlapi==0.6.7
btrfsutil==1.0.0
CacheControl==0.12.5
certbot==0.29.1
cffi==1.11.5
chardet==3.0.4
chrome-gnome-shell==0.0.0
colorama==0.4.1
ConfigArgParse==0.13.0
configobj==5.0.6
cryptography==2.4.2
cycler==0.10.0
decorator==4.3.0
distlib==0.2.8
distro==1.3.0
dnspython==1.16.0
docutils==0.14
entrypoints==0.2.3
eventlet==0.24.1
fusepy==3.0.1
future==0.17.1
gevent==1.3.7
gevent-websocket==0.10.1
greenlet==0.4.15
gunicorn==19.9.0
html5lib==1.0.1
idna==2.8
imagesize==1.1.0
ipython==7.1.1
ipython-genutils==0.1.0
isc==2.0
isort==4.3.4
jedi==0.13.1
jeepney==0.4
Jinja2==2.10
jmespath==0.9.3
josepy==1.1.0
keyring==17.0.0
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
lensfun==0.3.2
lockfile==0.12.2
louis==3.8.0
lxml==4.2.5
Markdown==2.6.11
MarkupSafe==1.1.0
matplotlib==3.0.2
mccabe==0.6.1
meld==3.19.1
mock==2.0.0
monotonic==1.5
msgpack==0.5.6
multidict==4.5.2
networkx==2.2
numpy==1.15.4
packaging==18.0
parsedatetime==2.4
parso==0.3.1
pbr==5.1.1
pep517==0.3
pexpect==4.6.0
pickleshare==0.7.5
ply==3.11
progress==1.4
prompt-toolkit==2.0.7
ptyprocess==0.6.0
pyasn1==0.4.4
PyAudio==0.2.11
pycairo==1.18.0
pycodestyle==2.4.0
pycparser==2.19
pycryptodome==3.7.2
pyflakes==2.0.0
Pygments==2.3.0
PyGObject==3.30.4
pylint==2.2.2
pyOpenSSL==18.0.0
pyparsing==2.3.0
PyQt5==5.11.3
PyQt5-sip==4.19.13
pyRFC3339==1.1
python-dateutil==2.7.5
python-engineio==3.1.0
python-libtorrent==1.1.11
python-socketio==2.1.2
pytoml==0.1.20
pytz==2018.7
pyxdg==0.26
PyYAML==3.13
requests==2.20.1
requests-toolbelt==0.8.0
retrying==1.3.3
rsa==4.0
s3transfer==0.1.13
SecretStorage==3.1.0
Send2Trash==1.5.0
simplegeneric==0.8.1
simplejson==3.16.1
sip==4.19.13
six==1.12.0
snowballstemmer==1.2.1
Sphinx==1.8.1
sphinx-rtd-theme==0.4.1
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.2.15
sshuttle==0.78.4
team==1.0
tornado==5.1.1
traitlets==4.3.2
ujson==1.35
urllib3==1.24.1
virtualenv==16.0.0
wcwidth==0.1.7
webencodings==0.5.1
websockets==7.0
Whoosh==2.7.4
wrapt==1.10.11
yarl==1.3.0
youtube-dl==2018.12.17
ytfs==0.99a5
zope.component==4.5
zope.deferredimport==4.3
zope.deprecation==4.4.0
zope.event==4.4
zope.hookable==4.2.0
zope.interface==4.6.0
zope.proxy==4.3.1
