<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="28" android:versionName="42" package="i4nc4mp.myLock">
    <uses-sdk android:minSdkVersion="8"/>

<application android:icon="@drawable/icon" android:label="@string/app_name">
        
        <activity android:label="myLock utilities" android:launchMode="singleInstance" android:name=".MainPreferenceActivity" android:theme="@android:style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <receiver android:name="ToggleWidget">
			<intent-filter>
        		<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
    		</intent-filter>
    	<meta-data android:name="android.appwidget.provider" android:resource="@xml/toggle_widget"/>
</receiver>
		<!--android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"-->
		<!--android:theme="@android:style/Theme.Wallpaper"-->   
        
       <activity android:configChanges="orientation|keyboardHidden|keyboard|navigation" android:excludeFromRecents="true" android:launchMode="standard" android:name="AutoDismiss$AutoDismissActivity" android:screenOrientation="nosensor" android:taskAffinity="" android:theme="@android:style/Theme.NoTitleBar"/>


		<activity android:excludeFromRecents="true" android:label="Call Prompt" android:launchMode="singleInstance" android:name="CallPrompt" android:screenOrientation="portrait" android:taskAffinity="" android:theme="@android:style/Theme.Translucent.NoTitleBar">
               </activity>
               
        <activity android:excludeFromRecents="true" android:label="Touchscreen Guard" android:launchMode="singleInstance" android:name="TouchGuard" android:screenOrientation="portrait" android:taskAffinity="" android:theme="@android:style/Theme.Translucent.NoTitleBar">
               </activity>

        <receiver android:enabled="true" android:exported="false" android:label="myLockBootReceiver" android:name=".myLockBootReceiver">
        <intent-filter>
        	<action android:name="android.intent.action.BOOT_COMPLETED"/>
        </intent-filter>
        </receiver>
        
        <receiver android:enabled="true" android:name=".PhoneReceiver">
                <intent-filter>
                        <action android:name="android.intent.action.PHONE_STATE"/>
                </intent-filter>
        </receiver>
        
        <service android:name=".Toggler"/>
        <service android:name=".AutoDismiss"/>
        <service android:name=".BootHandler"/>
        <service android:enabled="true" android:name=".ScreenMediator"/>
    <receiver android:name="i4nc4mp.myLock.EmmaInstrument.SMSInstrumentedReceiver">
<intent-filter>
<action android:name="edu.gatech.m3.emma.COLLECT_COVERAGE"/>
</intent-filter>
</receiver>
<activity android:label="EmmaInstrumentationActivity" android:name="i4nc4mp.myLock.EmmaInstrument.InstrumentedActivity"/>
</application>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
<instrumentation android:handleProfiling="true" android:label="EmmaInstrumentation" android:name="i4nc4mp.myLock.EmmaInstrument.EmmaInstrumentation" android:targetPackage="i4nc4mp.myLock"/>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
