<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionCode="13" android:versionName="1.4.1" package="aarddict.android">
    <uses-sdk android:minSdkVersion="3"/>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:smallScreens="true"/>
    <application android:icon="@drawable/aarddict" android:label="@string/appName">    			 
    	<activity android:label="@string/appName" android:name=".DictionariesActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>                
                <data android:pathPattern=".*\\.aar" android:scheme="file"/>
            </intent-filter>            
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>                
                <data android:mimeType="application/aar" android:scheme="file"/>
            </intent-filter>                			  	
    	</activity>
    			 
        <activity android:configChanges="orientation" android:name=".LookupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <activity android:configChanges="orientation" android:name=".ArticleViewActivity">
        </activity>


        <activity android:configChanges="orientation" android:excludeFromRecents="true" android:name=".Lookup" android:taskAffinity="aarddict.external">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>                                                                        
        </activity>
        
        <activity android:configChanges="orientation" android:excludeFromRecents="true" android:name=".Article" android:taskAffinity="aarddict.external">            
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>                                                            
        </activity>
                         
        <activity android:name=".DictionaryInfoActivity"/>                      
        <service android:name=".DictionaryService">        
        </service>
    <receiver android:name="aarddict.android.EmmaInstrument.SMSInstrumentedReceiver">
<intent-filter>
<action android:name="edu.gatech.m3.emma.COLLECT_COVERAGE"/>
</intent-filter>
</receiver>
<activity android:label="EmmaInstrumentationActivity" android:name="aarddict.android.EmmaInstrument.InstrumentedActivity"/>
</application>
<instrumentation android:handleProfiling="true" android:label="EmmaInstrumentation" android:name="aarddict.android.EmmaInstrument.EmmaInstrumentation" android:targetPackage="aarddict.android"/>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
