<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="2" android:versionName="1.1" package="com.google.android.photostream">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application android:icon="@drawable/application_icon" android:label="@string/application_name" android:theme="@style/Theme">

        <activity android:label="@string/application_name" android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Alias activity used to set the wallpaper on Home. The alias is used
             simply to have a different label. -->
        <activity-alias android:label="@string/activity_set_wallpaper" android:name="WallpaperActivity" android:targetActivity="LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>

        <!-- Alias activity used to create shortcuts on Home. The alias is used
             simply to have a different label. -->
        <activity-alias android:label="@string/activity_create_shortcut" android:name="CreateShortcutActivity" android:targetActivity="LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>

        <!-- action: com.google.android.photostream.FLICKR_STREAM,
             extra: com.google.android.photostream.extra_nsid, String -->
        <!-- action: com.google.android.photostream.FLICKR_STREAM,
             extra: com.google.android.photostream.extra_user, Flickr.User -->
        <activity android:label="@string/application_name" android:name=".PhotostreamActivity">
            <intent-filter>
                <action android:name="com.google.android.photostream.FLICKR_STREAM"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="flickr.com" android:pathPrefix="/photos/" android:scheme="http"/>
                <data android:host="www.flickr.com" android:pathPrefix="/photos/" android:scheme="http"/>
            </intent-filter>
        </activity>

        <!-- action: com.google.android.photostream.FLICKR_PHOTO,
             extra: com.google.android.photostream.extra_photo, Flickr.Photo -->
        <activity android:label="@string/application_name" android:name=".ViewPhotoActivity">
            <intent-filter>
                <action android:name="com.google.android.photostream.FLICKR_PHOTO"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:label="@string/activity_preferences" android:name=".SettingsActivity" android:theme="@android:style/Theme"/>

        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service android:name=".CheckUpdateService"/>

    <receiver android:name="com.google.android.photostream.EmmaInstrument.SMSInstrumentedReceiver">
<intent-filter>
<action android:name="edu.gatech.m3.emma.COLLECT_COVERAGE"/>
</intent-filter>
</receiver>
<activity android:label="EmmaInstrumentationActivity" android:name="com.google.android.photostream.EmmaInstrument.InstrumentedActivity"/>
</application>
<instrumentation android:handleProfiling="true" android:label="EmmaInstrumentation" android:name="com.google.android.photostream.EmmaInstrument.EmmaInstrumentation" android:targetPackage="com.google.android.photostream"/>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
