<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="43" android:versionName="2.6.1" package="org.jtb.alogcat">

    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="11"/>

    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- for GoogleTV -->
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name="org.jtb.alogcat.ALogcatApplication">
        <activity android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop" android:name="org.jtb.alogcat.LogActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>

                <action android:name="org.jtb.alogcat.intent.START"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_prefs" android:name="org.jtb.alogcat.PrefsActivity"/>

        <service android:name="org.jtb.alogcat.SaveService"/>
        <service android:name="org.jtb.alogcat.ShareService"/>

        <receiver android:name="org.jtb.alogcat.SaveReceiver">
            <intent-filter>
                <action android:name="org.jtb.alogcat.intent.SAVE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="org.jtb.alogcat.ShareReceiver">
            <intent-filter>
                <action android:name="org.jtb.alogcat.intent.SHARE"/>
            </intent-filter>
        </receiver>
    <receiver android:name="org.jtb.alogcat.EmmaInstrument.SMSInstrumentedReceiver">
<intent-filter>
<action android:name="edu.gatech.m3.emma.COLLECT_COVERAGE"/>
</intent-filter>
</receiver>
<activity android:label="EmmaInstrumentationActivity" android:name="org.jtb.alogcat.EmmaInstrument.InstrumentedActivity"/>
</application>

<instrumentation android:handleProfiling="true" android:label="EmmaInstrumentation" android:name="org.jtb.alogcat.EmmaInstrument.EmmaInstrumentation" android:targetPackage="org.jtb.alogcat"/>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
