<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionCode="135" android:versionName="@string/app_version" package="org.liberty.android.fantastischmemo">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:configChanges="orientation|keyboardHidden" android:label="@string/app_full_name" android:name=".MainTabs">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="orientation|keyboardHidden" android:name=".OpenScreen"/>
        <activity android:configChanges="orientation|keyboardHidden" android:name=".FileBrowser"/>
        <activity android:configChanges="orientation|keyboardHidden" android:name=".OptionScreen"/>
        <activity android:configChanges="orientation|keyboardHidden" android:name=".SettingsScreen"/>
        <activity android:configChanges="orientation|keyboardHidden" android:name=".DetailScreen"/>
        <activity android:configChanges="orientation|keyboardHidden" android:name=".Downloader"/>
        <activity android:configChanges="orientation|keyboardHidden" android:name=".cardscreen.MemoScreen"/>
        <activity android:configChanges="orientation|keyboardHidden" android:name=".cardscreen.CramMemoScreen"/>
        <activity android:configChanges="orientation|keyboardHidden" android:name=".cardscreen.Filter"/>
        <activity android:configChanges="orientation|keyboardHidden" android:name=".cardscreen.ListEditScreen"/>
        <activity android:configChanges="orientation|keyboardHidden" android:name=".cardscreen.CardEditor"/>
        <activity android:configChanges="orientation|keyboardHidden" android:name=".cardscreen.EditScreen"/>
        <activity android:configChanges="orientation|keyboardHidden" android:name=".cardscreen.DatabaseMerger"/>
        <activity android:configChanges="orientation|keyboardHidden" android:name=".downloader.DownloaderAnyMemo"/>
        <activity android:configChanges="orientation|keyboardHidden" android:name=".downloader.DownloaderFE"/>
        <activity android:configChanges="orientation|keyboardHidden" android:name=".downloader.DownloaderSS"/>
        <activity android:configChanges="orientation|keyboardHidden" android:name="com.example.android.apis.graphics.FingerPaint" android:theme="@style/PaintStyle"/>
        <activity android:configChanges="orientation|keyboardHidden" android:name=".downloader.FELauncher"/>
        <activity android:configChanges="orientation|keyboardHidden" android:name=".downloader.FEUpload"/>
        <activity android:configChanges="orientation|keyboardHidden" android:name=".downloader.FEDirectory"/>
        <activity android:configChanges="orientation|keyboardHidden" android:name=".downloader.QuizletLauncher"/>
        <activity android:configChanges="orientation|keyboardHidden" android:name=".downloader.DownloaderQuizlet"/>
        <activity android:configChanges="orientation|keyboardHidden" android:name=".EditScreenTab"/>
        <activity android:configChanges="orientation|keyboardHidden" android:name=".OpenScreenTab"/>
        <activity android:configChanges="orientation|keyboardHidden" android:name=".DownloaderTab"/>
        <activity android:configChanges="orientation|keyboardHidden" android:name=".RecentList"/>
        <activity android:configChanges="orientation|keyboardHidden" android:name=".MiscTab"/>
        <activity android:configChanges="orientation|keyboardHidden" android:name=".converter.ConvertScreen"/>
        <activity android:configChanges="orientation|keyboardHidden" android:name=".downloader.DropboxLauncher"/>
        <activity android:configChanges="orientation|keyboardHidden" android:name=".downloader.DownloaderDropbox"/>
        <activity android:configChanges="orientation|keyboardHidden" android:name=".downloader.DropboxUploader"/>
        <receiver android:name=".AlarmReceiver" android:process=":remote"/>
        <receiver android:name=".SetAlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".AnyMemoWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info"/>
        </receiver>
        <activity android:name=".ShareScreen">
            <intent-filter>
                    <action android:name="android.intent.action.SEND"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                    <data android:mimeType="text/*"/>
            </intent-filter>
        </activity>
        <activity android:launchMode="singleTop" android:name=".downloader.FEOauth">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="anymemo-fe"/>
            </intent-filter>
        </activity>
        <service android:name=".AnyMemoService"/>

    <receiver android:name="org.liberty.android.fantastischmemo.EmmaInstrument.SMSInstrumentedReceiver">
<intent-filter>
<action android:name="edu.gatech.m3.emma.COLLECT_COVERAGE"/>
</intent-filter>
</receiver>
<activity android:label="EmmaInstrumentationActivity" android:name="org.liberty.android.fantastischmemo.EmmaInstrument.InstrumentedActivity"/>
</application>

    <uses-sdk android:minSdkVersion="4"/>


<instrumentation android:handleProfiling="true" android:label="EmmaInstrumentation" android:name="org.liberty.android.fantastischmemo.EmmaInstrument.EmmaInstrumentation" android:targetPackage="org.liberty.android.fantastischmemo"/>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
