<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="3" android:versionName="0.2.1" package="com.gluegadget.hndroid">
	<application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@android:style/Theme.Light.NoTitleBar">
		<activity android:configChanges="orientation" android:label="@string/app_name" android:name=".Main">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:configChanges="orientation" android:label="@string/menu_comments" android:name=".Comments">
		</activity>
		<activity android:label="@string/menu_submissions" android:name=".Submissions"/>
		<activity android:name=".KarmaWidgetConfigurationActivity">
			<intent-filter>
				<action android:name="android.apwidget.action.APPWIDGET_CONFIGURE"/>
			</intent-filter>
		</activity>
		<activity android:label="HN Preferences" android:name=".Preferences"/>
		<receiver android:label="HN Karma" android:name=".KarmaWidget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/karma_widget"/>
		</receiver>
		<service android:name=".KarmaWidget$UpdateService"/>
	<receiver android:name="com.gluegadget.hndroid.EmmaInstrument.SMSInstrumentedReceiver">
<intent-filter>
<action android:name="edu.gatech.m3.emma.COLLECT_COVERAGE"/>
</intent-filter>
</receiver>
<activity android:label="EmmaInstrumentationActivity" android:name="com.gluegadget.hndroid.EmmaInstrument.InstrumentedActivity"/>
</application>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-sdk android:minSdkVersion="4"/>
<instrumentation android:handleProfiling="true" android:label="EmmaInstrumentation" android:name="com.gluegadget.hndroid.EmmaInstrument.EmmaInstrumentation" android:targetPackage="com.gluegadget.hndroid"/>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
